<div class="row">
    <div class="col-md-4">
        <div class="tw-flex tw-gap-3 tw-items-center tw-justify-between tw-rounded tw-p-10 tw-border tw-bg-white tw-shadow-md tw-drop-shadow-md">
            <ion-icon name="cube-outline" class="tw-text-[35px]"></ion-icon>

            <div class="tw-flex tw-flex-col tw-items-center tw-gap-6">
                <h3 class="tw-font-bold">Products</h3>
                <p class="tw-bg-green-500 tw-text-white tw-rounded-full tw-px-2">{{ products.length }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="tw-flex tw-gap-3 tw-items-center tw-justify-between tw-rounded tw-p-10 tw-border tw-bg-white tw-shadow-md tw-drop-shadow-md">
            <ion-icon name="clipboard-outline" class="tw-text-[35px]"></ion-icon>

            <div class="tw-flex tw-flex-col tw-items-center tw-gap-6">
                <h3 class="tw-font-bold">Orders</h3>
                <p class="tw-bg-red-500 tw-text-white tw-rounded-full tw-px-2">{{ orders.length }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="tw-flex tw-gap-3 tw-items-center tw-justify-between tw-rounded tw-p-10 tw-border tw-bg-white tw-shadow-md tw-drop-shadow-md">
            <ion-icon name="cart-outline" class="tw-text-[35px]"></ion-icon>

            <div class="tw-flex tw-flex-col tw-items-center tw-gap-6">
                <h3 class="tw-font-bold">Carts</h3>
                <p class="tw-bg-cyan-500 tw-text-white tw-rounded-full tw-px-2">{{ cart.length }}</p>
            </div>
        </div>
    </div>
</div>